@import "./../Styles/helpers/variables";

.ve-panel {
    position: relative;

    background: $c-white;
    box-shadow: $panel-shadow;
    border-radius: $br-sm;

    transition: width $trans-speed ease-in-out, height $trans-speed ease-in-out;
}
