@import "./../Styles/helpers/variables";
@import "./../Styles/helpers/animations";

$width: 60px;
$height: 60px;

$margin: 6px;
$border-width: 4px;

.ve-loader-content {
    margin-top: $margin;
}

.ve-loader-spinner {
    display: inline-block;
    position: relative;
    width: $width;
    height: $height;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: $width - ($margin * 2);
        height: $height - ($margin * 2);
        margin: $margin;
        border: $border-width solid $c-primary;
        border-radius: 50%;
        animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $c-primary transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}
