.ve-scroll {
    position: relative;
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
    width: 100%;
    height: 100%;

    /*
    * Scrollbar rail styles
    */
    .ves__rail-x {
        display: none;
        opacity: 0;
        transition: background-color .2s linear, opacity .2s linear;
        height: 15px;
        /* there must be 'bottom' or 'top' for ps__rail-x */
        bottom: 0;
        /* please don't change 'position' */
        position: absolute;
    }

    .ves__rail-y {
        display: none;
        opacity: 0;
        transition: background-color .2s linear, opacity .2s linear;
        width: 15px;
        /* there must be 'right' or 'left' for ps__rail-y */
        right: 0;
        /* please don't change 'position' */
        position: absolute;
    }

    &.ves--active-x > .ves__rail-x,
    &.ves--active-y > .ves__rail-y {
        display: block !important;
        background-color: transparent;
    }

    &:hover > .ves__rail-x,
    &:hover > .ves__rail-y,
    &.ves--focus > .ves__rail-x,
    &.ves--focus > .ves__rail-y,
    &.ves--scrolling-x > .ves__rail-x,
    &.ves--scrolling-y > .ves__rail-y {
        opacity: 0.6;
    }

    .ves__rail-x:hover,
    .ves__rail-y:hover,
    .ves__rail-x:focus,
    .ves__rail-y:focus,
    .ves__rail-x.ves--clicking,
    .ves__rail-y.ves--clicking {
        background-color: #eee;
        opacity: 0.9;
    }

    /*
    * Scrollbar thumb styles
    */
    .ves__thumb-x {
        background-color: #aaa;
        border-radius: 6px;
        transition: background-color .2s linear, height .2s ease-in-out;
        height: 6px;
        /* there must be 'bottom' for ps__thumb-x */
        bottom: 2px;
        /* please don't change 'position' */
        position: absolute;
    }

    .ves__thumb-y {
        background-color: #aaa;
        border-radius: 6px;
        transition: background-color .2s linear, width .2s ease-in-out;
        width: 6px;
        /* there must be 'right' for ps__thumb-y */
        right: 2px;
        /* please don't change 'position' */
        position: absolute;
    }

    .ves__rail-x:hover > .ves__thumb-x,
    .ves__rail-x:focus > .ves__thumb-x,
    .ves__rail-x.ves--clicking .ves__thumb-x {
        background-color: #999;
        height: 11px;
    }

    .ves__rail-y:hover > .ves__thumb-y,
    .ves__rail-y:focus > .ves__thumb-y,
    .ves__rail-y.ves--clicking .ves__thumb-y {
        background-color: #999;
        width: 11px;
    }

    /* MS supports */
    @supports (-ms-overflow-style: none) {
        .ve-scroll {
            overflow: auto !important;
        }
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .ve-scroll {
            overflow: auto !important;
        }
    }
}
