.shadow-sm {
    box-shadow: $box-shadow-sm !important;
}

.shadow {
    box-shadow: $box-shadow !important;
}

.shadow-md {
    box-shadow: $box-shadow-md !important;
}

.shadow-lg {
    box-shadow: $box-shadow-lg !important;
}

.shadow-inner {
    box-shadow: $box-shadow-inner !important;
}

.shadow-outline {
    box-shadow: $box-shadow-outline !important;
}

.shadow-none {
    box-shadow: none !important;
}
