.leading-none {
    line-height: $line-height-none !important;
}

.leading-tight {
    line-height: $line-height-tight !important;
}

.leading-normal	{
    line-height: $line-height-base !important;
}

.leading-loose {
    line-height: $line-height-loose !important;
}
