.text-xs {
    font-size: $font-xs !important;
}

.text-sm {
    font-size: $font-sm !important;
}

.text-base {
    font-size: $font-base !important;
}

.text-lg {
    font-size: $font-lg !important;
}

.text-xl {
    font-size: $font-xl !important;
}

.text-2xl {
    font-size: $font-2xl !important;
}

.text-3xl {
    font-size: $font-3xl !important;
}

.text-4xl {
    font-size: $font-4xl !important;
}

.text-5xl {
    font-size: $font-5xl !important;
}
