.font-hairline {
    font-weight: $fw-hairline !important;
}

.font-thin {
    font-weight: $fw-thin !important;
}

.font-light {
    font-weight: $fw-light !important;
}

.font-normal {
    font-weight: $fw-base !important;
}

.font-medium {
    font-weight: $fw-medium !important;
}

.font-semibold {
    font-weight: $fw-semibold !important;
}

.font-bold {
    font-weight: $fw-bold !important;
}

.font-extrabold {
    font-weight: $fw-extrabold !important;
}

.font-black {
    font-weight: $fw-black !important;
}
