@import "./helpers/variables";
@import "./helpers/mixins";

@import "./base/reset";
@import "./base/typography";

body {
    font-size: $fs-root + px;
    font-family: "Roboto", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
