@import "../base/variables/colors";

// base
$c-default: #f2f2f2;
$c-primary: #409EFF;
$c-secondary: #dc4d3a;
$c-info: #909399;
$c-success: $c-green;
$c-warning: $c-yellow;
$c-danger: $c-red;
$c-light: $c-gray-light;
$c-dark: $c-black;

// text color
$c-text-primary:   #22292F;
$c-text-regular:   #3D4852;
$c-text-secundary: #606F7B;
$c-text-light:     #F8FAFC;

$body-bg: $c-white;
$body-color: $c-text-primary;

$text-muted: $c-gray-darker;

/*--- FONT SIZE ---*/
$font-family-base: "Roboto", sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$line-height-base: 1.5;

// font size ratio
$fs-ratio: 0.0625;

// root font size
$fs-root: 16;

// headlines
$fs-h1: 96;
$fs-h2: 60;
$fs-h3: 48;
$fs-h4: 34;
$fs-h5: 24;
$fs-h6: 20;

// subtitles
$fs-st1: 16;
$fs-st2: 14;

// body
$fs-b1: 16;
$fs-b2: 14;

$fs-btn: 14;
$fs-cap: 12;
$fs-ol: 10;

// link
$link-color: $c-primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// heading
$heading-margin-bottom: 1rem;

// p
$paragraph-margin-bottom: 1rem;

// font sizes
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;
$font-4xl: 2.25rem;
$font-5xl: 3rem;

// tracking from sketch
$tfs: 0.2;

// font weight
$fw-light: 300;
$fw-base: 400;
$fw-medium: 500;
$fw-bold: 700;

$dt-font-weight: $fw-bold;

/*--- BREAKPOINTS ---*/
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

/*--- CONTAINERS ---*/
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

// Gutter
$gutter-width: 1rem;

// Margin
$margin: 1rem;
$margin-sm: 0.5rem;
$margin-xs: 0.25rem;

// Padding
$padding-base: 1rem;
$padding-sm: 0.5rem;
$padding-xs: 0.5rem;

/*--- BORDER ---*/
$br-sm: 2px;

/*--- SHADOWS ---*/
$panel-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
$box-shadow-sm: 0 .125rem .25rem rgba($c-black, .075);
$box-shadow: 0 .5rem 1rem rgba($c-black, .15);
$box-shadow-lg: 0 1rem 3rem rgba($c-black, .175);

/*--- TRANSITIONS ---*/
$trans-speed: 300ms;

/*--- TABLES ---*/
$table-cell-padding: .75rem;
$table-cell-padding-sm: .3rem;
$table-caption-color: $text-muted;

/*--- FORM ---*/
$label-margin-bottom: .5rem;
