.bg-bottom {
    background-position: bottom !important;
}

.bg-center {
    background-position: center !important;
}

.bg-left {
    background-position: left !important;
}

.bg-left-bottom {
    background-position: left bottom !important;
}

.bg-left-top {
    background-position: left top !important;
}

.bg-right {
    background-position: right !important;
}

.bg-right-bottom {
    background-position: right bottom !important;
}

.bg-right-top {
    background-position: right top !important;
}

.bg-top {
    background-position: top !important;
}
